*{
    box-sizing: border-box;
    
}body{
    background-color: white;
    background-size:cover;
    background-repeat: no-repeat;
}

.form{
    border-radius: 5px;
    background-color: white;
    margin: 50px 480px;
    padding: 30px;
}

.form div{
    margin: 30px;
    
    
}

input{
    border-style: none;
    font-size: larger;
    font-weight: bolder;
    color: black;
    background-color: lightcoral;
    text-align: center;
    
}
input::placeholder{
    color: white;
    text-align: center;
}

.column2{
    color: black;
    font-family: cursive;
    font-weight: bolder;
    position: relative;
    
    
   
}

.c{
    background-color: orangered;
    color: white;
    width: 50%;
    padding: 10px;
    font-size: larger;
    border-radius: 10px;
}

.c:hover{
    cursor: pointer;
}